{% load static %}
{% include 'includes/picture_opt.html' with rel='assets/images/MAIN1' class_name='hero-bg-photo' w=800 h=1067 alt='' fetchpriority='high' only %}
{% include 'includes/picture_opt.html' with rel='assets/images/MAIN2' class_name='hero-bg-photo' w=800 h=1067 alt='' fetchpriority='high' only %}
{% include 'includes/picture_opt.html' with rel='assets/images/MAIN3' class_name='hero-bg-photo' w=800 h=1067 alt='' loading='lazy' only %}
{% include 'includes/picture_opt.html' with rel='assets/images/MAIN4' class_name='hero-bg-photo' w=800 h=1067 alt='' loading='lazy' only %}
{% include 'includes/picture_opt.html' with rel='assets/images/MAIN5' class_name='hero-bg-photo' w=800 h=1067 alt='' loading='lazy' only %}
{% include 'includes/picture_opt.html' with rel='assets/images/MAIN6' class_name='hero-bg-photo' w=800 h=1067 alt='' loading='lazy' only %}
{% include 'includes/picture_opt.html' with rel='assets/images/photo1' class_name='hero-bg-photo' w=900 h=1348 alt='' loading='lazy' only %}
{% include 'includes/picture_opt.html' with rel='assets/images/photo2' class_name='hero-bg-photo' w=853 h=1280 alt='' loading='lazy' only %}
