{# Visible categories: Bento, Scented, Decorative, Ceremony #}
<a
    href="{% url 'shop:product_bento' %}"
    class="dropdown-item"
    data-translate="nav-sub-bento"
    >Bento Candles</a
>
<a
    href="{% url 'shop:products_by_category' 'scented-candles' %}"
    class="dropdown-item"
    data-translate="nav-sub-scented"
    >Scented Candles</a
>
<a
    href="{% url 'shop:products_by_category' 'decorative-candles' %}"
    class="dropdown-item"
    data-translate="nav-sub-decorative"
    >Decorative Candles</a
>
<a
    href="{% url 'shop:products_by_category' 'ceremony-candles' %}"
    class="dropdown-item"
    data-translate="nav-sub-ceremony"
    >Ceremony Candles</a
>
<hr class="dropdown-divider" aria-hidden="true" />
<a
    href="{% url 'shop:seconde_vie' %}"
    class="dropdown-item dropdown-item--featured"
    data-translate="nav-sub-seconde-vie"
    >🌿 Seconde vie</a
>
