{% load static %}
<script src="{% static 'translations.js' %}?v=20260614" defer></script>
{% if site_scripts_animations != False %}
<script src="{% static 'animations.js' %}?v=20260614" defer></script>
{% endif %}
<script src="{% static 'kinetic-header.js' %}?v=20260614" defer></script>
<script src="{% static 'site-ui.js' %}?v=20260614" defer></script>
{% if site_scripts_extra %}
{% for extra_script in site_scripts_extra %}
<script src="{% static extra_script %}" defer></script>
{% endfor %}
{% endif %}
